AI_API_KEY=
AI_MODEL=
OPENAPI_SERVER_URL=http://localhost:8115/rbac/ServerCommand
AUTH_SERVER_URL=http://localhost
PROXY_ALLOWED_ORIGINS=https://your-server-domain.com
OPENAPI_SERVER_URL=https://your-server-domain.com/your-appname/ServerCommand
AUTH_SERVER_URL=https://your-server-domain.com
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=
CLERK_SECRET_KEY=
